:root {
    --c_primary: #9f8353;
    --c_white: #ffffff;
    --c_danger: #ec151f;


    --fs_38: 38px;
    --fs_40: 40px;
    --fs_67: 67px;

    --m_20: 20px;
}

.c_primary {
    color: var(--c_primary);
}

.c_white {
    color: var(--c_white);
}

.fs_40 {
    font-size: var(--fs_40);
}

.mb_20 {
    margin-bottom: var(--m_20);
}

/* hero section */
.hero_section {
    padding-top: 16px;
}

.hero_section img {
    border-radius: 0 120px 0 0;
    border: 1px solid var(--c_primary);
}

/* intro section */
.intro_section {
    padding: 5rem 0rem;
}

.main_heading {
    font-size: 38px;
    font-family: sora;
    color: var(--c_primary);
    line-height: 1;
    margin-left: -2.5em;
    text-align: right;
}

.main_heading b {
    font-size: 2.4211em;
    line-height: 1;
}

.main_heading::after {
    content: "";
    display: block;
    width: 81px;
    height: 4px;
    background-color: var(--c_danger);
    margin-top: 28px;
    margin-left: auto;
}

.section_heading {
    font-size: 40px;
    margin-bottom: 0.5em;
}

.section_heading img {
    width: 1.6em;
    display: inline;
    vertical-align: middle;
}

.section_content p {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 1em;
}

@media(max-width:1529.98px) {
    .main_heading {
        font-size: 32px;
    }

    .section_heading {
        font-size: 32px;
    }

    .section_content p {
        font-size: 15px;
    }
}

@media(max-width:1399.98px) {
    .main_heading {
        font-size: 26px;
    }

    .section_heading {
        font-size: 26px;
    }
}

@media(max-width:1199.98px) {
    .main_heading {
        font-size: 24px;
    }

    .section_heading {
        font-size: 24px;
    }
}

@media(max-width:991.98px) {
    .main_heading {
        text-align: left;
        margin-left: 0;
    }

    .main_heading::after {
        margin-left: 0;
    }

    .intro_section {
        padding: 4rem 0rem;
    }
}

@media(max-width:575.98px) {
    .main_heading b {
        font-size: 1.85em;
    }
}

/* how we work section */
.hww_section {
    border: 1px solid var(--c_primary);
    border-radius: 0 120px 0 0;
    padding: 112px 60px 70px;
    background-repeat: no-repeat;
    background-size: auto 30%, cover;
}

.hww_heading {
    font-size: 67px;
    letter-spacing: -1px;
    color: var(--c_white);
    font-weight: 600;
    font-family: "Prompt";
    filter: drop-shadow(1.439px 1.389px 0px rgba(0, 0, 0, 0.77));
}

.hww_spacing {
    height: 400px;
}

.hww_card {
    color: var(--c_white);
    border-radius: 0px 60px 0px 0px;
    padding: 30px;
    background-color: #867244b6;
    height: 100%;
}

.hww_card_title {
    font-size: 44px;
    letter-spacing: -3px;
    line-height: 48px;
    color: var(--c_white);
    font-weight: 400;
    font-family: "Sora";
    filter: drop-shadow(2.158px 2.084px 0px #000000);
}

.hww_card_title b {
    font-size: 1.2273em;
}

.hww_card_title::after {
    content: "";
    display: block;
    width: 81px;
    height: 4px;
    background-color: var(--c_danger);
    margin: 28px 0px;
}

.hww_card_desc {
    font-size: 20px;
    line-height: 1.4;
    color: var(--c_white);
    font-weight: 400;
    font-family: "Prompt";
    filter: drop-shadow(2.158px 2.084px 0px #000000);
}

@media(max-width:1529.98px) {
    .hww_section {
        padding: 80px 40px 50px;
    }

    .hww_heading {
        font-size: 56px;
    }

    .hww_spacing {
        height: 300px;
    }

    .hww_card_title {
        font-size: 34px;
        letter-spacing: -1px;
        line-height: 38px;
    }

    .hww_card_desc {
        font-size: 17px;
    }

    .hww_card_title::after {
        margin: 20px 0px;
    }
}

@media (max-width: 767.98px) {
    .hww_section {
        padding: 80px 16px 36px;
    }
}

@media (max-width: 575.98px) {
    .hww_spacing {
        height: 120px;
    }

    .hww_heading {
        font-size: 44px;
    }
}

/* services section */
.services_section {
    padding: 100px 0px;
}

/* stats section */

.stats_section {
    border: 1px solid var(--c_primary);
    border-radius: 0 120px 0 0;
    padding: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stat_item {
    text-align: center;
}

.stat_number {
    font-size: 130px;
    letter-spacing: -8px;
    line-height: 90px;
    margin-bottom: 12px;
}

.stat_number b {
    color: var(--c_white);
    font-weight: 700;
    font-family: "Sora";
    filter: drop-shadow(2.158px 2.084px 0px rgba(0, 0, 0, 0.77));
}

.stat_number sup {
    color: var(--c_danger);
    /* font-size: 0.9em;
    line-height: 0.3; */
}

.stat_description {
    font-size: 27px;
    letter-spacing: -1px;
    color: var(--c_white);
    font-weight: 600;
    font-family: "Prompt";
    filter: drop-shadow(2.158px 2.084px 0px rgba(0, 0, 0, 0.77));
}

@media(max-width:1529.98px) {
    .stat_number {
        font-size: 100px;
    }

    .stat_description {
        font-size: 21px;
    }
}

@media(max-width:991.98px) {
    .stats_section {
        padding: 50px;
    }

    .stat_number {
        font-size: 84px;
        letter-spacing: -4px;
    }
}

/*  */
.main_heading2 b {
    font-size: 2.2em;
}

.main_heading2 span {
    font-size: 1.5em;
}

/* intro section 2 */
.intro_section2 {
    padding: 5rem 0rem 0rem;
}

/* References section */
.references_section {
    padding: 2rem 0rem;
}

.red_divider {
    display: block;
    width: 81px;
    height: 4px;
    background-color: var(--c_danger);
    margin: 28px auto;
}

@media(max-width:1529.98px) {
    .reference_icon {
        width: 200px;
    }
}

/* footer section */
.footer_section {
    padding: 200px 0px 72px;
    background-repeat: no-repeat;
    background-size: cover, auto 30%, auto 30%, cover;
    background-position: center, top center, bottom center, center;
}

.footer_logo {
    width: 561px;
}

.footer_contact_row {
    padding: 145px 0px 120px;
}

.contact_item {
    text-align: center;
}

.contact_title {
    font-size: 26px;
    color: var(--c_white);
    font-weight: 300;
    font-family: "Prompt";
    margin: 20px auto;
}

.contact_icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.contact_info {
    font-size: 26px;
    color: var(--c_white);
    font-weight: 700;
    font-family: "Prompt";
}

.footer_social_links {
    font-size: 55px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 100px;
    padding-left: 0px;
}

.footer_social_link {
    color: var(--c_white);
}

@media(min-width:1200px) {
    .body-innerwrapper {
        overflow-x: visible;
    }
}

@media(max-width:1529.98px) {
    .footer_logo {
        width: 350px;
    }

    .footer_contact_row {
        padding: 120px 0px 80px;
    }

    .contact_icon {
        width: 80px;
        height: 80px;
    }

    .contact_title {
        font-size: 20px;
        margin: 16px auto;
    }

    .contact_info {
        font-size: 20px;
    }

    .footer_social_links {
        font-size: 46px;
        gap: 40px;
        margin-bottom: 70px;
    }
}

@media(max-width:991.98px) {
    .border_md_none {
        border-right: none !important;
    }

    .contact_icon {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 575.98px) {
    .footer_logo {
        width: 260px;
    }

    .footer_social_links {
        font-size: 36px;
        margin-bottom: 50px;
    }
}